/* Resets */
body {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: 100% !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.mak-container {
  display: -webkit-flex;
  display: flex;
  height: 100%;
}

.mak-editor {
  -webkit-flex: 1;
  flex: 1;
  height: 100%;
  overflow: scroll;
  padding: 10px;
  -webkit-appearance: none;
  resize: none;
  outline: none;
  border: none;
  border-right: 1px solid #999;
  font-size: 16px;
  font-family: "Consolas", "Menlo", "Monaco", monospace, serif;
}

.mak-preview {
  -webkit-flex: 1;
  flex: 1;
  height: 100%;
  overflow: scroll;
  -webkit-appearance: none;
  border: none;
}

.outer-preview {
  flex: 1;
}

iframe {
  padding: 0 20px;
}

@media screen and (max-width: 640px) {
  .mak-container {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .mak-editor {
    order: 1;
    border-right: none;
    border-top: 1px solid #999;
  }
}
